#p1 {

    color: aqua;
}
#p2{

    color: red;
}
#p3{

    color: blueviolet;
}
#p4{

    color: blue;
}
#p5{

    color: chartreuse;
}

.p6{

    color: green;
}
.p7{

    color: darkred;
}
.p8{

    color: fuchsia;
}