body {
    height: 100vh;
}

.box {
    height: 200px;
    width: 100px;
    animation-name: Mybox;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes Mybox {
    0% {
        left: 0px;
        top: 0px;
        transform: rotateY(0deg);
    }
    25% {
        left: 25%;
        top: 0px;
        transform: rotateY(180deg);
    }
    50% {
        left: 25%;
        top: 50%;
        transform: rotateY(360deg);
    }
    75% {
        left: 0px;
        top: 50%;
        transform: rotateY(540deg);
    }
    100% {
        left: 0px;
        top: 0px;
        transform: rotateY(720deg);
    }
}
