.main-div{
    height: 300px;
    width: 300px;
    background-color: red;
    animation-name: Luka;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes Luka{
    from{
        background-color: red;
    }
    to{
        background-color: blue;
        transform: rotate(360deg);
    }

}