#p1{
    color: aqua;
}
#p2{
    color: red;
}
#p3{
    color: blue;
}
#p4{
    color: purple;
}
#p5{
    color: orange;
}
.p6{
    color: deeppink;
}
.p7{
    color: lightblue;
}
.p8{
    color: darkorange;
}